{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

.container{
    margin: 120px auto;
    max-width: 400px ;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    background-shadow:10px;
    box-shadow: 0 0 5px 3px;
}
article{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 0px;
    background-shadow:10px;
    box-shadow: 0 0 1px 0px;
    padding: 5px;
    margin: 10px;
    align-items: center;

}

header{
    margin: 5px auto;
    padding: 10px;
}

header h1{
    text-align: center;
    font-size: 30px;
}

#main{
    margin: 10px auto;
    padding: 10px;

}


img{
    background-position: center;
}

a{
    text-decoration: none;
    color: black;
}

#btn-new_task{
    display: block;
    border-radius: 10px;
    padding: 7px 28px;
    background-color: #FFC300;
    box-shadow: 0 0 1px 0.7px;
    width: 100%;
    border: none;
    margin:5px;
    text-align: center;


}

header a{
    font-size: 20px;

}

#btn-add{
    border-radius: 10px;
    padding: 5px;
    background-color: #FFC300;
    box-shadow: 0 0 1px 0.7px;
    border: none;
    margin:2px;

}

#btn-status{
    border-radius: 10px;
    padding: 5px;
    background-color: #FFC300;
    box-shadow: 0 0 0px 0.7px;
    border: none;
    height: 25px;
    justify-content: center;
    margin: 5px;

}

#btn-complete{
    border-radius: 10px;
    padding: 5px;
    background-color: #90ee90;
    box-shadow: 0 0 1px 0.7px;
    border: none;
    margin: 5px;

}


#btn-new_task:hover{
    background-color: whitesmoke;
    cursor:pointer;
}

#btn-add:hover{
    background-color: whitesmoke;
    cursor:pointer;
}
#btn-status:hover{
    background-color: whitesmoke;
    cursor:pointer;
    transform: translateY(1px);
}



